@import "tailwindcss";

* {
  box-sizing: border-box;
  list-style: none;
  margin: auto
}

html,
body,
#root {

  max-width: 100%;
  min-height: 100%;
}

body {
  min-height: 100vh;

}

.about-text {
  @apply text-mauve-400  mb-4
}